language: java
jdk: oraclejdk8
branches:
  only: master
install: true
script: ".travis/build.sh"
after_success: ".travis/notify.sh Travis-Success"
after_failure: ".travis/notify.sh Travis-Failure"
env:
  global:
  - secure: hckpgW/Ru8BTBQZuHJLGGo+7TJ2i1dk0gz3w4kpMdopzIvcjJv0d1Qy7UPvc7Qs0kfVA9d2RTgd+skvK//Brec39HQf6bQw7TfUROS++Km97WPbxPy0XaJmmR9gBK3ZsizEQgQ/O0rZmWtmSJtzNDxHxfoiPbNclI1yYRnX15Ag=
  - secure: G8nbxLGU4cHnrX46On8zAP0Gft/appfBbvplKThSHJB7u1/7jMgY0bKXZImWZIFP//LL+w1ryUVMEXipIpz3X9Znhy1InBjRZlvkb6sfbayiNMVRaiwSwrGH6gOBM4nGi4MCrhwPzpBfYss/8jMMa39rHY70cdanBuGPDyoUfGM=
